.textbook-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
}
.header-name {
  padding: 1rem;
  padding-bottom: 0;
  font-size: larger;
}
.textbook-breadcrumbs {
  padding-top: 1rem;
  padding-inline: 1rem;
}
.breadcrumb-content {
  font-size: larger;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
